page-login {
  .content {
    background-color: #364f9f;
  }
  .btn-social {
    position: relative;
    margin-top: 15px;
    fa-icon {
      color: #fff;
      position: absolute;
      left: 20px
    }
  }
}
