<div class="task-detail">
  <h1>Task Title</h1>
  <div class="row-description">
    <label class="label-title">Breif/Description</label>
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
      praesentium voluptatum deleniti atque corrupti quos dolores et
      quas molestias excepturi.</p>
  </div>
  <div class="row-platform">
    <label class="label-title">Social Platform(s)</label>
    <p>Instagram</p>
  </div>
  <hr/>
  <ion-row class="row-due-date">
    <fa-icon name="clock-o"></fa-icon>
    <ion-col>
      <label class="label-title">Time:</label>
      <p>00:00</p>
    </ion-col>
    <ion-col>
      <label class="label-title">Date:</label>
      <p>00/00/2017</p>
    </ion-col>
  </ion-row>
  <ion-row class="row-reward">
    <ion-icon name="star"></ion-icon>
    <ion-col>
      <label class="label-title">Reward</label>
      <p>Free Entry on list</p>
    </ion-col>
  </ion-row>
  <div class="row-things">
    <label class="label-title">Things we’d like to see</label>
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
      praesentium voluptatum deleniti atque corrupti quos dolores et
      quas molestias excepturi At vero eos et accusamus et iusto odio dignissimos
      ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
  </div>
  <div class="row-tags">
    <label class="label-title">Tags</label>
    <p>#hashtag, #hashtag, #hashtag, @tag</p>
  </div>
  <div class="row-images">
    <label class="label-title">Inspiration Images</label>
    <ion-row>
      <ion-col>
        <img src="../../assets/img/app/default.png"/>
      </ion-col>
      <ion-col>
        <img src="../../assets/img/app/default.png"/>
      </ion-col>
      <ion-col>
        <img src="../../assets/img/app/default.png"/>
      </ion-col>
    </ion-row>
  </div>
  <button ion-button full (click)="openModal()">Create Post</button>
</div>
