<ion-header>
  <ion-navbar>
    <button menuToggle ion-button icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div text-right class="configs">
      <button ion-button clear small no-margin *ngIf="!editProfile" (click)="toggleEditProfile()">
        <fa-icon name="cog" class="icon"></fa-icon>
      </button>
      <div *ngIf="editProfile" class="edit-row">
        <button ion-button clear small>Edit</button>
        <button ion-button clear small>Save</button>
        <button ion-button clear small (click)="toggleEditProfile()">
          <ion-icon name='ios-close-circle' class="icon"></ion-icon>
        </button>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="profile-header">
    <div class="edit-profile-image" *ngIf="editProfile">
      <image-upload [icon]="'pencil'" (outputImg)="getImgSrc($event)"></image-upload>
    </div>
    <div class="profile-image">
      <img [src]="userAvatar" width="110" height="110" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
  </div>
  <div class="profile-page-content">
    <div padding class="profile-tab-bar">
      <ion-segment [(ngModel)]="segment">
        <ion-segment-button value="info">
          Info
        </ion-segment-button>
        <ion-segment-button value="interests">
          Interests
        </ion-segment-button>
        <ion-segment-button value="networks">
          Networks
        </ion-segment-button>
      </ion-segment>
    </div>
    <div [ngSwitch]="segment">
      <div class="segment-wrapper" *ngSwitchCase="'info'">
        <ion-card *ngFor="let card of cards">
          <ion-card-header>
            <ion-row no-padding>
              <ion-col text-left>
                <ion-card-title color="primary">{{card.title}}</ion-card-title>
              </ion-col>
              <ion-col text-right class="configs">
                <button ion-button clear small no-margin *ngIf="!card.edit" (click)="toggleCard(card)">
                  <fa-icon name="cog" class="icon"></fa-icon>
                </button>
                <div *ngIf="card.edit" class="edit-card">
                  <button ion-button clear small>Save</button>
                  <button ion-button clear small (click)="toggleCard(card)">
                    <ion-icon name='ios-close-circle' class="icon"></ion-icon>
                  </button>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <info [card]="card"></info>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="segment-wrapper" *ngSwitchCase="'interests'">
        <interests></interests>
      </div>
      <div class="segment-wrapper" *ngSwitchCase="'networks'">
        <networks></networks>
      </div>
    </div>
  </div>
</ion-content>

