@import "../../theme/variables";

page-profile {
  .header-md::after {
    display: none;
  }
  .profile-header {
    position: relative;
    .edit-profile-image {
      background: rgba(255, 255, 255, 0.7);
      position: absolute;
      width: 110px;
      height: 110px;
      border-radius: 50%;
      margin: 0 auto;
      right: 0;
      left: 0;
    }
  }
  .configs {
    .icon {
      font-size: 18px;
    }
  }
}

.profile-tab-bar {
  .segment-button {
    color: $main-color;
    border: none;
    &.segment-activated {
      color: $main-color;
      background: none;
      font-weight: bold;
    }
  }
}

.profile-page-content {
  ion-card {
  }
}

.profile-image {
  img {
    border: 2px solid $white-color;
  }
}
