<ion-header>
  <ion-navbar>
    <button menuToggle ion-button icon-only right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="profile-header">
    <div class="profile-page-image">
      <img src="https://s3.amazonaws.com/ionic-io-static/9TxJELnATnW9H3MZZfdG_Profile_avatar_placeholder_large.png"
           width="30%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
  </div>
  <div class="profile-page-content">
    <div padding class="profile-tab-bar">
      <ion-segment [(ngModel)]="segment">
        <ion-segment-button value="info">
          Info
        </ion-segment-button>
        <ion-segment-button value="interests">
          Interests
        </ion-segment-button>
        <ion-segment-button value="networks">
          Networks
        </ion-segment-button>
      </ion-segment>
    </div>
    <div [ngSwitch]="segment">
      <div class="segment-wrapper" *ngSwitchCase="'info'">
        <ion-card *ngFor="let card of cards">
          <ion-card-header>
            <ion-row no-padding>
              <ion-col text-left>
                <ion-card-title color="primary">{{card.title}}</ion-card-title>
              </ion-col>
              <ion-col text-right class="card-icons">
                <button ion-button clear small no-margin *ngIf="!card.edit" (click)="toggleCard(card)">
                  <ion-icon name='cog'></ion-icon>
                </button>
                <div *ngIf="card.edit" class="edit-card">
                  <button ion-button clear small>Save</button>
                  <button ion-button clear small (click)="toggleCard(card)">
                    <ion-icon name='ios-close-circle'></ion-icon>
                  </button>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <info [card]="card"></info>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="segment-wrapper" *ngSwitchCase="'interests'">
        <interests></interests>
      </div>
      <div class="segment-wrapper" *ngSwitchCase="'networks'">
        <networks></networks>
      </div>
    </div>
  </div>
</ion-content>
