<ion-header>
  <ion-navbar>
    <button menuToggle ion-button icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div text-right class="configs">
      <button ion-button clear small no-margin *ngIf="!editProfile" (click)="toggleEditProfile()">
        <fa-icon name="cog" class="icon"></fa-icon>
      </button>
      <div *ngIf="editProfile" class="edit-row">
        <button ion-button clear small>Edit</button>
        <button ion-button clear small>Save</button>
        <button ion-button clear small (click)="toggleEditProfile()">
          <ion-icon name='ios-close-circle' class="icon"></ion-icon>
        </button>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="profile-header">
    <div class="edit-profile-image" *ngIf="editProfile">
      <image-upload [icon]="'pencil'" (outputImg)="getImgSrc($event)"></image-upload>
    </div>
    <div class="profile-image">
      <img class="picture" [src]="userAvatar" width="110" height="110"
           style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <h1 class="profile-full-name" text-center>Lucy Campbell</h1>
  </div>
  <div class="profile-page-content">
    <div padding class="profile-tab-bar">
      <ion-segment [(ngModel)]="segment">
        <ion-segment-button value="info">
          Info
        </ion-segment-button>
        <ion-segment-button value="interests">
          Interests
        </ion-segment-button>
        <ion-segment-button value="networks">
          Networks
        </ion-segment-button>
      </ion-segment>
    </div>
    <div [ngSwitch]="segment">
      <div class="segment-wrapper" *ngSwitchCase="'info'">
        <!-- Profile Strength -->
        <ion-card class="profile-strength">
          <ion-card-content>
            <div class="strength-chart">
              <canvas baseChart
                      [data]="doughnutChartData"
                      [chartType]="doughnutChartType"
                      [colors]="doughnutChartColors"></canvas>
            </div>
            <div class="strength-info">
              <h4>Profile Strength</h4>
              <p>You have completed 75% of your profile. The
                higher the number the higher the chance
                that you’ll be invited to participate in cam-
                paigns</p>
              <p>
                <fa-icon name="cog" class="icon"></fa-icon>
                Click the gear icon to improve each section
              </p>
            </div>
          </ion-card-content>
        </ion-card>
        <!-- Transparency Policy -->
        <ion-card class="transparency-policy" *ngIf="false">
          <ion-card-content>
            <h4>Transparency Policy</h4>
            <p>Share as much (or as little) information as you’d like - we will only share
              your information with verified businesses and marketing agencies. If you
              don’t want to share anything remember to leave it blank. You’re in full
              control. You can view our privacy policy and terms at any tme in the
              menu or follow the links below</p>
            <ion-row>
              <ion-col padding-right>
                <button ion-button full>Privacy Policy</button>
              </ion-col>
              <ion-col padding-left>
                <button ion-button full>Terms of Use</button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
        <!-- Info Cards -->
        <ion-card *ngFor="let card of cards let i = index;" [class.first]="(i == 1)">
          <ion-card-header>
            <ion-row no-padding>
              <ion-col text-left>
                <h4 color="primary">{{card.title}}</h4>
              </ion-col>
              <ion-col text-right class="configs">
                <button ion-button clear small no-margin *ngIf="!card.edit" (click)="toggleCard(card)">
                  <fa-icon name="cog" class="icon"></fa-icon>
                </button>
                <div *ngIf="card.edit" class="edit-card">
                  <button ion-button clear small>Save</button>
                  <button ion-button clear small (click)="toggleCard(card)">
                    <ion-icon name='ios-close-circle' class="icon"></ion-icon>
                  </button>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <info [card]="card"></info>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="segment-wrapper" *ngSwitchCase="'interests'">
        <interests></interests>
      </div>
      <div class="segment-wrapper" *ngSwitchCase="'networks'">
        <networks></networks>
      </div>
    </div>
  </div>
</ion-content>

