@import "variables";

page-register,
page-login,
page-register-completion,
page-forgot-password,
forgot-password-reset {
  .content {
    background-color: #364f9f;
  }
}

page-login {
  .btn-social {
    position: relative;
    margin-top: 15px;
    fa-icon {
      color: #fff;
      position: absolute;
      left: 20px
    }
  }
}

.content-inner {
  padding: 25% 10% 0;
  text-align: center;
  ion-list {
    margin: 0 0 25px;
  }
  .logo {
    width: 150px;
    margin-bottom: 20px;
  }
}

.auth-form {
  .item.item-block {
    padding-left: 0;
    .text-input {
      background: #fff;
      color: $main-color;
      width: 100%;
      font-family: $font-family-medium;
      &::-moz-placeholder {
        color: $main-color;
      }
      &:-ms-input-placeholder {
        color: $main-color;
      }
      &::-webkit-input-placeholder {
        color: $main-color;
      }
    }
  }
  .btn-link {
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
    display: block;
  }
  .text-right {
    font-size: 11px;
    margin-top: 8px;
    text-align: right;
  }
  .error {
    display: block;
    text-align: left;
    background: #fff;
    font-size: 11px;
    font-weight: bold;
  }
}

.activation-form {
  ion-input {
    background: #fff;
    border-radius: 4px;
  }
  .text-input {
    text-align: center;
  }
}
