@import "./variables";

html {
  height: 100%;
  min-height: 100%;
}

body {
  background: $white-color;
  height: 100%;
  //font-family: $font-family;
  font-size: 14px;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: $main-color;
}

p, .card p, .item p {
  color: $text-color;

}

ion-card.card {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

.header .toolbar-background {
  background: $white-color;
  border: none;
}
/***** Side Menu *****/
.side-menu {
  .content {
    background-color: $side-menu-color;
  }
  button.item-block {
    background-color: $side-menu-color;
    .item-inner {
      background: none;
      border-bottom: 0;
    }
    &:last-child {
      border-bottom: 0;
    }
    &.activated {
      background-color: $white-color;
    }
  }
}
/***** Sub Nav *****/
.sub-nav {
  .tabbar {
    background: $sub-nav-color;
    border-top: 0;
    .tab-button[aria-selected=true] .tab-button-icon {
      color: #488aff;
    }
    .tab-button-icon {
      color: $white-color;
    }
  }
}
/***** Form, inputs, fields *****/
.default-select {
  .select {
    border: 1px solid;
    padding: 8px;
    font-size: 14px;
    color: $main-color;
    .select-icon {
      width: 16px;
      .select-icon-inner {
        left: 0;
        border-top: 7px solid;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        color: $main-color;
      }
    }
  }
}

hr.line-shadow {
  -webkit-box-shadow: 0 1px 5px 2px rgba(153, 153, 153, 0.3);
  box-shadow: 0 1px 5px 2px rgba(153, 153, 153, 0.3);
  background-color: rgba(0, 0, 0, 0.2);
}

