<ion-content padding>
  <div class="content-inner">
    <img src="../../assets/img/logo/lineup-logo-white.svg" class="logo"/>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" *ngIf="showForm" class="auth-form">
      <ion-list>
        <ion-item>
          <ion-input formControlName="email" type="email" placeholder="Email"
                     [class.invalid]="!form.controls.email.valid"></ion-input>
        </ion-item>
        <span *ngIf="formErrors && formErrors.email" class="error">
          <span ion-text color="danger">{{ formErrors.email }}</span>
        </span>
      </ion-list>
      <button ion-button block color="danger" [disabled]="!form.valid">Sign Up</button>
      <a class="btn btn-link" (click)="goToLogin()">Already have an Account?</a>
    </form>
    <form [formGroup]="formActivation" class="activation-form">
      <ion-row>
        <ion-col col-4 *ngFor="let item of fieldsCode;">
          <ion-input type="text" maxlength="2" formControlName={{item}}></ion-input>
        </ion-col>
      </ion-row>
    </form>

    <div class="info-message" *ngIf="!showForm">
      <h4>Your registration was successful!</h4>
      <p>You should now receive the email with activation code and further instructions.</p>
    </div>
  </div>
</ion-content>



