<hr/>
<div class="poll-card" *ngFor="let item of dataList; let i=index;">
  <h5>Question</h5>
  <div class="task-description">
    <p class="question">At vero eos et accusamus et iusto odio dignissimos ducimus
      qui blankditiis praesentium voluptatum deleniti atque corrupti?</p>
    <label class="sublabel">blankditiis praesentium voluptatum deleniti atque corrupti</label>
  </div>
  <div class="answer-section">
    <div class="wrapper">
      <h5>Your Answer*</h5>
      <label class="sublabel">{{label}}</label>
    </div>
    <!--************************************************-->
    <ion-textarea *ngIf="item.type == 0" (ionChange)="onChange($event.value,item.type)"></ion-textarea>
    <!--************************************************-->
    <ion-list *ngIf="item.type == 1" class="radio-group" radio-group (ionChange)="onChange($event,item.type)">
      <ion-item *ngFor="let item of dataList">
        <ion-label>{{item.text}}</ion-label>
        <ion-radio value="{{item.type}}"></ion-radio>
      </ion-item>
    </ion-list>
    <!--************************************************-->
    <ion-list *ngIf="item.type == 2">
      <ion-item *ngFor="let item of dataList">
        <ion-label>{{item.text}}</ion-label>
        <ion-checkbox (ionChange)="onChangeCheckBox($event.checked,item.type)"></ion-checkbox>
      </ion-item>
    </ion-list>
    <!--************************************************-->
    <ion-item *ngIf="item.type == 3" no-padding class="default-select">
      <ion-select>
        <ion-option (ionSelect)="onChange($event,item.type)" *ngFor="let option of dataList">{{option.text}}</ion-option>
      </ion-select>
    </ion-item>
    <!--************************************************-->
    <ion-list *ngIf="item.type == 4" radio-group [(ngModel)]="singleChoice" class="one-to-ten">
      <ion-item *ngFor="let item of dataList">
        <ion-label>{{item.type+1}}</ion-label>
        <ion-radio value="{{item.type}}"></ion-radio>
      </ion-item>
    </ion-list>
  </div>
</div>
<button ion-button full (click)="sendData()">Complete</button>

