@import "../../../theme/variables";

info {
  .card-inner {
    .label {
      color: $main-color;
      font-size: 14px;
      margin: 0 15px 0 0;
    }
    .item-block {
      padding: 0;
      font-size: 14px;
      .item-inner {
        padding-right: 0;
      }
    }
  }
}

.form-edit {
  .input, .select {
    background: #f6f6f6;
    font-size: 14px;
    padding: 0 8px;
    flex: 1;
    max-width: 100%;
  }

  .item-select .input-wrapper {
    display: inline-block;
  }
}
