@import "../../../theme/variables";

info-card {
  .item.item-block .text-input {
    border: 1px solid #eeeeee;
    color: #999;
  }
  .card-inner {
    .label {
      font-size: 13px;
      margin: 0 15px 0 0;
      label {
        color: $main-color;
        font-family: $font-family-medium;
      }
      p {
        color: #000;
      }
    }
    .profile-info .item-block {
      padding-bottom: 20px;
    }
    .form-edit .item-block {
      padding-bottom: 10px;
    }
    .item-block {
      padding: 0;
      font-size: 14px;
      min-height: inherit;
      &:first-child {
        border-top: none;
      }
      &:last-child {
        border-bottom: none;
      }
      .item-inner {
        padding-right: 0;
      }
    }
  }
}

ion-modal.autocomplete {
  padding: 40% 20px;
}

.form-edit {
  ion-list {
    margin: 0;
  }
  .input, .select, .datetime {
    flex: 1;
    max-width: 100%;
  }
  .item-select, .item-datetime {
    .input-wrapper {
      display: inline-block;
    }
  }
  ion-select, .datetime {
    background: $grey-bg-color;
    padding: 6px 8px;
    color: #999;
  }
  ion-label {
    color: $main-color;
    font-family: $font-family-medium;
  }
}
